name: Dart CI
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
      - name: Install dependencies
        run: flutter pub get
      - name: Run linter
        run: flutter analyze
      - name: Run tests
        run: flutter test

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
      - run: flutter format .
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update formatted files
          file_pattern: "*.dart"
